body{
    font-family: 'DM Sans', sans-serif;
}


.container{
    max-width: 1140px;
    margin: 0 auto;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header{
    height: 1000px;
    position: relative;
    background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
    border-radius: 0px 0px 350px 0;
    padding: 21px 0 73px;
}

.header_top{
    max-width: 1250px;
    margin-bottom: 120px;
}

.header_fon_1{
    position: absolute;
    max-width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.header_fon_2{
    position: absolute;
    max-width: 100%;
    left: 0px;
    top: 560px;
    z-index: 1;
}
.header_fon_3{
    position: absolute;
    max-width: 100%;
    left: 439px;
    top: 0px;
    z-index: 1;
}
.header_fon_4{
    position: absolute;
    max-width: 100%;
    left: 970px;
    bottom: 0;
    z-index: 1;
}
.header_fon_5{
    position: absolute;
    max-width: 100%;
    left: 70.26%;
    right: 14.01%;
    top: 15%;
    bottom: 94.59%;
    opacity: 0.4;
    z-index: 1;
}
.header_fon_6{
    position: absolute;
    max-width: 100%;
    top: 0px;
    right: 0px;
    z-index: 1;
}
.header_fon_7{
    position: absolute;
    max-width: 100%;
    right: 0;
    top: 235px;
    z-index: 1;
}

.logo{
    max-width: 145px;
    align-items: flex-end;
}

.buttons{
    background-color: transparent;
    width: 150px;
    height: 50px;
    border: 1.5px solid #FFFFFF;
    border-radius: 50px;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: -0.16px;
    color: #FFFFFF;
}

.buttons_white{
    width: 150px;
    height: 50px;
    border: 1.5px solid #FFFFFF;
    border-radius: 50px;
    background: #FFFFFF;
    font-weight: 500;
    letter-spacing: -0.16px;
    color: #0F2137;
}

.logo a:first-child{
    margin-right: 11px;
    margin-bottom: 5px;
}

.header_menu{
    max-width: 500px;
}

.header_link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 42px;
    color: #FFFFFF;
}

.header_link_text{
    margin-right: 5px;
}

.header_nav{
    margin-right: 50px;
}

.header_li{
    list-style-type: none;
}

.header_li:not(:last-child){
    margin-right: 20px;
}

.header_li_menu{
    display: flex;
}

.header_link_menu{
    transform: rotate(-180deg);
}

.header_bottom{ 
    position: relative; 
}

.header_left{
    position: absolute;
    top: 0;
    left: 45%;
    z-index: 8;
}

.header_right{
    max-width: 650px;
    z-index: 10;
}

.right_title{
    max-width: 650px;
    font-weight: 700;
    font-size: 85px;
    line-height: 100px;
    letter-spacing: -2px;
    color: #FFFFFF;
    margin-bottom: 29px;
}

.right_text{
    max-width: 507px;
    font-weight: 500;
    font-size: 18px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.right_center{
    max-width: 300px;
    margin-bottom: 37px;
}

.right_bottom{
    max-width: 500px;
   
}

.right_button{
    margin-right: 20px;
}

.right_link_text{
    font-family: 'Heebo';
    font-weight: 500;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.16px;
    color: #FFFFFF;
}

.right_list_link{
    list-style-type: none;
}

.right_list_link:not(:last-child){
    margin-right: 23px;
}

.header_left_img{
    max-width: 100%;
    margin-right: 43px;
}


.exciting{
    padding: 65px 0;
}

.exciting_content{
    text-align: center;
    margin: 0 auto;
}

.pre_title{
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #244886;
    margin-bottom: 5px;
}

.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
    letter-spacing: -1.5px;
    color: #0F2137;
    margin-bottom: 78px;
}

.exciting_grid{
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 100px;
}

.items_exciting{
    text-align: center;
    margin: 0 auto;
}

.items_icon{
    margin-bottom: 21px;
}

.items_title{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #0F2137;
    margin-bottom: 21px;
}

.items_text{
    max-width: 265px;
    font-size: 15px;
    text-align: center;
    color: #343D48;
}

.features{
    padding: 135px 0;
}

.features_right{
    text-align-last: left;
}

.features_pre_title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #244886;
    margin-bottom: 28px;
}

.features_title{
    max-width: 510px;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -1.5px;
    color: #0F2137;
    margin-bottom: 79px;
}

.features_items{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.features_icon{
    margin-right: 22px;
}

.features_items:first-child{
    margin-bottom: 60px;
}

.link_title{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #0F2137;
    margin-bottom: 20px;
}

.link_text{
    max-width: 355px;
    font-size: 15px;
    line-height: 26px;
    color: #343D48;
}




@media screen and (max-width:1440px){
    .container{
        max-width: 1140px;
    }

    .flex{
        justify-content: flex-start;
    }

    .header_fon_1, .header_fon_2, .header_fon_3, .header_fon_4, .header_fon_5, .header_fon_6, .header_fon_7{
        max-width: 350px;
    }

    .header_logo{
        margin-right: 223px;
    }

    .header_nav{
        margin-right: 200px;
    }

    .right_link{
        margin-right: 10px;
    }

    .features_left{
        margin-right: 128px;
    }
}




@media screen and (max-width:1200px){
    .container{
        max-width: 1050px;
    }
}